

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');


/* Step 9 */
#content{
    max-width: 1600px;
    margin: 0 auto;
}

/* Step 10 */
nav a {
    text-align: center;
}

#hero-msg h1, 
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

/* Step 11 */
#background {
    height: 725px;
}
/* Step 12 */

body {
    background-color: #EEE5E9;
    font-family:'Roboto', 'Lucida Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#7C7C7C;
}
nav a:hover {
    background-color: #92DCE5;
}  

.book { 
    background-color:#383D3B; ;
}

.join{
    background-color:#7C7C7C; ;
}

.book:hover, .join:hover {
    background-color: #92DCE5;
}

#background {
    background-color:#7C7C7C; 
    margin-bottom: 100px;
}
.msg {
    background-color:#383D3B;
    padding: 35px;
    line-height: 1.5em;
}

footer {
    background-color:#7C7C7C;
    color: #000000 
}

/* Step 13 */
nav a:hover {
    color: #000000
}
nav a {
    color: #EEE5E9;
    text-decoration: none;
    padding: 35px;
}
.home-title {
    color: #000000
}

h4 {
    color: #000000 
}

.book,
.join {
    color: #EEE5E9;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover,
.join:hover {
    color: #000000
}

.msg h2 {
   color: #EEE5E9;
}

.msg p{
    color: #EEE5E9;
    font-size: .8em;
    padding-bottom: 15px;
}

footer p, 
footer a {
    color: #EEE5E9;
    text-decoration: none;
}

footer p a:hover{
    background-color: #92DCE5;
    color: #000000
}

/* Step 14 */
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100% 
}


footer p {
    font-size: 1.2em;
}    

footer a:hover, nav a:hover{
    text-decoration: underline;
}

/* Step 15 */

.home-title {
    font-family: 'Georgia', serif;
    font-size:  2em;
    margin-top: 10px;
}


h2 {
    margin: 0;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, 
.rapids-card  { 
    margin: 200px 0;
}

.card-img {
    border: 10px solid #383D3B;
}
main section img {
    box-sizing: border-box;
}

.mountains {
    margin-bottom: 150px;
}


